body {
	
	/*background-color: #201856;*/
	margin: 0;
	padding: 0;
}

.parallax {
	height: 100vh;
	perspective: 1px;
	overflow-x: hidden;
	overflow-y: auto;
	/*font-family: 'Shadows Into Light', cursive;*/
	font-family: 'Courgette', cursive;
	font-size: 3vw;
}

@media only screen and (max-width: 500px) {
	.parallax {
	
		font-size: 5vw !important;
	}
	
}

.parallax-layer img {
	width: 100vw;
	position: absolute;
}

.parallax-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 50vh;
}



.parallax-0 {
	z-index: 1;
	transform: translateZ(-1px) scale(2);
}

.parallax-1 {
	z-index: 3;
	transform: translateZ(-2px) scale(3);
}

.parallax-2 {
	z-index: 5;
	transform: translateZ(-3px) scale(4);
}

.parallax-3 {
	z-index: 7;
	transform: translateZ(-4px) scale(5);
}
.parallax-9{
	width: 100%;
	z-index: 0;
	transform:translateZ(-1px) scale(5);
	/*margin-top: 300px;*/
	bottom: 300px;
}
.parallax-4 {
	z-index: 9;
	transform: translateZ(-1px) scale(2);
}

.parallax-5 {
	z-index: 11;
	transform: translateZ(-0.9px) scale(1.8);
}

.parallax-6 {
	z-index: 2;
	transform: translateZ(-0.9px) scale(2);
}

.parallax-7 {
	z-index: 11;
	transform: translateZ(-0.8px) scale(1.8);
}

.parallax-8 {
	z-index: 10;
	transform: translateZ(-0.9px) scale(1.9);
}


.parallax {
	background: url('../img/latesunset.png');
	background-repeat: no-repeat;
	margin:0;
	padding: 0;
	background-size: cover;
	/*background: linear-gradient(to bottom, #201856 0%, #f76e2e 20%, #ffe37f 50%, #5f858d 100%);*/
}

p {
	position: absolute;
	color: #201856;
}

#text1 {
	margin-top: 15vw;
	right: 27vw;
	z-index: 2;
}

#text2 {
	margin-top: 13vw;
	left: 26vw;
	z-index: 4;
}

#text3 {
	margin-top: 20vw;
	left: 40vw;
	z-index: 6;
}

#text4 {
	margin-top: 25vw;
	left: 43vw;
	z-index: 8;
}
#text5 {
	margin-top: 30vw;
	left: 70vw;
	z-index: 10;
}

#bird1 {
	width: 25vw;
	margin-top: 10vw;
	margin-left: 20vw;
}

#tree2 {
	width: 40vw;
	margin-top: 20vw;
	margin-left: -5vw;
}

#tree3 {
	width: 20vw;
	margin-left: 45vw;
	margin-top: 18vw;

}

#bird2 {
	width: 20vw;
	margin-left: 75vw;
	margin-top: 25vw;

}

.parallax-tree {
	position: absolute;
	padding-top: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
}


.parallax-tree img {
	position: absolute;

}

#bear {
	width: 20vw;
	margin-top: 85vw;
	margin-left: 65vw;
}
.parallax-8 a {
	position: absolute;
	text-decoration: none;
	color: #201856;
	font-size: 1vw;
	margin-top: 85vw;
	margin-left: 60vw;
}